:root {
  --text: #625d56;
  --text-h: #1c1c1a;
  --bg: #ffffff;
  --border: #d8d4c9;
  --accent: #004225;
  --forest: #004225;
  --light-gray: #f1f3f2;
  --soft-gray: #e7eae8;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "EB Garamond", Georgia, serif;
  --heading: "EB Garamond", Georgia, serif;

  font: 16px/145% var(--sans);
  letter-spacing: 0;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: var(--sans);
}

code,
.counter {
  font-family: var(--sans);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
